<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="fileNamePattern">${sys:user.home}/.quide/logs/platform.log-%d{yyyy-MM-dd}.log.gz</Property>
        <Property name="fileName">${sys:user.home}/.quide/logs/platform.log</Property>
        <Property name="patternLayout">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternLayout}"/>
        </Console>
        <File name="File" fileName="${fileName}.full" immediateFlush="false">
            <PatternLayout pattern="${patternLayout}"/>
        </File>
        <RollingFile name="File" fileName="${fileName}" filePattern="${fileNamePattern}" immediateFlush="false">
            <PatternLayout pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2000"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Rolling"/>
        </Root>
    </Loggers>
</Configuration>
